# Collect Weather Data

In [2]:
import pandas as pd
import requests
from datetime import datetime, timedelta

In [3]:
API_key = "109b54b6c3fd55e38b92e68428bc0028"
city = "Berlin"

In [3]:
berlin = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
berlin_json = berlin.json()
#berlin_json

In [4]:
print("response: ", berlin.status_code) # 200 status code means OK!

response:  200

### Explore the data received from the API. What’s useful? What’s not?

In [5]:
berlin_json.keys()

dict_keys(['cod', 'message', 'cnt', 'list', 'city'])

In [6]:
berlin_json['city']

{'id': 2950159,
 'name': 'Berlin',
 'coord': {'lat': 52.5244, 'lon': 13.4105},
 'country': 'DE',
 'population': 1000000,
 'timezone': 3600,
 'sunrise': 1701154169,
 'sunset': 1701183555}

In [7]:
berlin_json['list'][0].keys()

dict_keys(['dt', 'main', 'weather', 'clouds', 'wind', 'visibility', 'pop', 'sys', 'dt_txt'])

In [8]:
berlin_json['list'][0]['weather']

[{'id': 803, 'main': 'Clouds', 'description': 'broken clouds', 'icon': '04d'}]

In [9]:
berlin_json['list'][0]['main']

{'temp': -0.43,
 'feels_like': -4.35,
 'temp_min': -0.43,
 'temp_max': 0.6,
 'pressure': 993,
 'sea_level': 993,
 'grnd_level': 996,
 'humidity': 81,
 'temp_kf': -1.03}

In [10]:
pd.json_normalize(berlin_json).head()

,cod,message,cnt,list,city.id,city.name,city.coord.lat,city.coord.lon,city.country,city.population,city.timezone,city.sunrise,city.sunset
0,200,0,40,"[{'dt': 1701172800, 'main': {'temp': -0.43, 'f...",2950159,Berlin,52.5244,13.4105,DE,1000000,3600,1701154169,1701183555

In [11]:
pd.json_normalize(berlin_json['list']).head(3)

,dt,weather,visibility,pop,dt_txt,main.temp,main.feels_like,main.temp_min,main.temp_max,main.pressure,main.sea_level,main.grnd_level,main.humidity,main.temp_kf,clouds.all,wind.speed,wind.deg,wind.gust,sys.pod,snow.3h
0,1701172800,"[{'id': 803, 'main': 'Clouds', 'description': ...",10000,0.31,2023-11-28 12:00:00,-0.43,-4.35,-0.43,0.60,993,993,996,81,-1.03,60,3.39,29,5.78,d,NaN
1,1701183600,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.00,2023-11-28 15:00:00,-1.22,-3.85,-1.36,-1.22,999,999,998,83,0.14,45,1.98,335,3.95,n,NaN
2,1701194400,"[{'id': 802, 'main': 'Clouds', 'description': ...",10000,0.00,2023-11-28 18:00:00,-2.73,-6.69,-2.73,-2.73,1006,1006,1000,90,0.00,39,2.91,347,5.67,n,NaN

In [12]:
#I will extract list/weather/main, list/main/temp, list/wind/speed, list/dt_txt

### Extract the information you see as useful and make a DataFrame from it

In [13]:
#Weather
berlin_json['list'][0]['weather'][0]['description']

'broken clouds'

In [14]:
#Temperature
berlin_json['list'][0]['main']['temp']

-0.43

In [15]:
#Risk of rain
berlin_json['list'][0]['pop']

0.31

In [16]:
#Country
berlin_json['city']['country']

'DE'

In [17]:
#Wind Speed
berlin_json['list'][0]['wind']['speed']

3.39

In [18]:
#Date and Time
berlin_json['list'][0]['dt_txt']

'2023-11-28 12:00:00'

In [19]:
dates = [item['dt_txt'] for item in berlin_json['list']]
#dates

In [21]:
weather_dictionary = {
    "Date_Time": [],
    "Weather": [],
    "Temperature": [],
    "Wind_Speed": []
}

for entry in berlin_json['list']:
    weather_dictionary["Date_Time"].append(entry['dt_txt'])
    weather_dictionary["Weather"].append(entry["weather"][0]["main"])
    weather_dictionary["Temperature"].append(entry['main']['temp'])
    weather_dictionary["Wind_Speed"].append(entry['wind']['speed'])

weather_df = pd.DataFrame(weather_dictionary)
weather_df.head()

             Date_Time Weather  Temperature  Wind_Speed
0  2023-11-28 12:00:00  Clouds        -0.43        3.39
1  2023-11-28 15:00:00  Clouds        -1.22        1.98
2  2023-11-28 18:00:00  Clouds        -2.73        2.91
3  2023-11-28 21:00:00  Clouds        -3.22        1.77
4  2023-11-29 00:00:00  Clouds        -3.70        2.24

### Build a for loop that outputs a DataFrame with the weather of multiple cities, when given a list of cities as an input.

In [22]:
list_of_cities = ['Berlin', 'Frankfurt', 'Munich', 'Cologne', 'Stuttgart', 'Leipzig']

In [23]:
weather_data = []

for city in list_of_cities:
    response = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
    city_json = response.json()

    for entry in city_json['list']:
        weather_data.append({
            "City": city_json['city']['name'],
            "Country": city_json['city']['country'],
            "Date_Time": entry['dt_txt'],
            "Weather": entry["weather"][0]["description"],
            "Temperature": entry['main']['temp'],
            "Risk of Rain": entry['pop'],
            "Wind_Speed": entry['wind']['speed']
        })

weather_df = pd.DataFrame(weather_data)
weather_df.head()

,City,Country,Date_Time,Weather,Temperature,Risk of Rain,Wind_Speed
0,Berlin,DE,2023-11-28 12:00:00,broken clouds,-0.41,0.31,3.39
1,Berlin,DE,2023-11-28 15:00:00,scattered clouds,-1.21,0.00,1.98
2,Berlin,DE,2023-11-28 18:00:00,scattered clouds,-2.73,0.00,2.91
3,Berlin,DE,2023-11-28 21:00:00,overcast clouds,-3.22,0.00,1.77
4,Berlin,DE,2023-11-29 00:00:00,overcast clouds,-3.70,0.00,2.24

### Filter for only the next 24h

In [24]:
weather_df['Date_Time']

0      2023-11-28 12:00:00
1      2023-11-28 15:00:00
2      2023-11-28 18:00:00
3      2023-11-28 21:00:00
4      2023-11-29 00:00:00
              ...
235    2023-12-02 21:00:00
236    2023-12-03 00:00:00
237    2023-12-03 03:00:00
238    2023-12-03 06:00:00
239    2023-12-03 09:00:00
Name: Date_Time, Length: 240, dtype: object

In [25]:
weather_df['Date_Time'] = pd.to_datetime(weather_df['Date_Time'])

In [26]:
current_time = weather_df['Date_Time'][0]
current_time

Timestamp('2023-11-28 12:00:00')

In [27]:
time_24hr_later = current_time + timedelta(hours=24)
time_24hr_later

Timestamp('2023-11-29 12:00:00')

In [28]:
weather_df['Date_Time'] <= time_24hr_later

0       True
1       True
2       True
3       True
4       True
       ...
235    False
236    False
237    False
238    False
239    False
Name: Date_Time, Length: 240, dtype: bool

In [30]:
#weather_df.loc[weather_df['Date_Time'] <= time_24hr_later]

# Final version for Usage in AWS cloud

In [12]:
list_of_cities = ['Berlin', 'Frankfurt']

def get_weather_data(list_of_cities):
     
    import pandas as pd
    import requests
    from gans_keys import API_key_open_weather
    
    API_key = API_key_open_weather
    
    weather_data = []

    for city in list_of_cities:
        response = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
        city_json = response.json()

        for entry in city_json['list'][:8]:
            weather_data.append({
                "City": city_json['city']['name'],
                "Country": city_json['city']['country'],
                "Date_Time": entry['dt_txt'],
                "Weather": entry["weather"][0]["description"],
                "Temperature": entry['main']['temp'],
                "Risk_of_Rain": entry['pop'],
                "Wind_Speed": entry['wind']['speed']
            })

    weather_df = pd.DataFrame(weather_data)
    return weather_df

In [13]:
weather_df

,City,Country,Date_Time,Weather,Temperature,Risk_of_Rain,Wind_Speed
0,Berlin,DE,2023-12-04 12:00:00,clear sky,-1.73,0.00,4.45
1,Berlin,DE,2023-12-04 15:00:00,scattered clouds,-1.61,0.00,4.30
2,Berlin,DE,2023-12-04 18:00:00,broken clouds,-1.32,0.00,4.85
3,Berlin,DE,2023-12-04 21:00:00,overcast clouds,-1.29,0.00,4.69
4,Berlin,DE,2023-12-05 00:00:00,overcast clouds,-2.12,0.00,4.20
5,Berlin,DE,2023-12-05 03:00:00,overcast clouds,-1.96,0.00,4.24
6,Berlin,DE,2023-12-05 06:00:00,overcast clouds,-1.97,0.00,4.51
7,Berlin,DE,2023-12-05 09:00:00,overcast clouds,-1.79,0.06,4.34
8,Frankfurt am Main,DE,2023-12-04 12:00:00,light snow,-1.23,0.22,3.09
9,Frankfurt am Main,DE,2023-12-04 15:00:00,light snow,-1.06,0.71,2.37
10,Frankfurt am Main,DE,2023-12-04 18:00:00,light snow,-1.01,0.91,2.35
11,Frankfurt am Main,DE,2023-12-04 21:00:00,light snow,-0.10,0.61,1.80
12,Frankfurt am Main,DE,2023-12-05 00:00:00,light snow,-0.32,0.89,2.17
13,Frankfurt am Main,DE,2023-12-05 03:00:00,light rain,0.85,0.50,2.62
14,Frankfurt am Main,DE,2023-12-05 06:00:00,overcast clouds,2.73,0.34,3.31
15,Frankfurt am Main,DE,2023-12-05 09:00:00,overcast clouds,3.95,0.02,4.83
16,Munich,DE,2023-12-04 12:00:00,overcast clouds,-6.07,0.00,0.68
17,Munich,DE,2023-12-04 15:00:00,overcast clouds,-6.19,0.00,0.49
18,Munich,DE,2023-12-04 18:00:00,overcast clouds,-6.40,0.00,1.56
19,Munich,DE,2023-12-04 21:00:00,overcast clouds,-5.55,0.00,1.19
20,Munich,DE,2023-12-05 00:00:00,overcast clouds,-7.07,0.00,1.02
21,Munich,DE,2023-12-05 03:00:00,overcast clouds,-5.70,0.02,1.64
22,Munich,DE,2023-12-05 06:00:00,light snow,-1.26,0.32,1.55
23,Munich,DE,2023-12-05 09:00:00,overcast clouds,0.67,0.16,2.27
24,Cologne,DE,2023-12-04 12:00:00,light snow,1.19,0.35,5.29
25,Cologne,DE,2023-12-04 15:00:00,light snow,1.13,0.44,5.55
26,Cologne,DE,2023-12-04 18:00:00,light rain,1.33,0.71,5.34
27,Cologne,DE,2023-12-04 21:00:00,light rain,1.93,0.87,5.30
28,Cologne,DE,2023-12-05 00:00:00,light rain,2.81,0.83,5.06
29,Cologne,DE,2023-12-05 03:00:00,overcast clouds,3.83,0.39,5.43
30,Cologne,DE,2023-12-05 06:00:00,light rain,4.84,0.90,5.46
31,Cologne,DE,2023-12-05 09:00:00,moderate rain,4.21,0.87,5.37
32,Stuttgart,DE,2023-12-04 12:00:00,few clouds,-1.59,0.00,1.70
33,Stuttgart,DE,2023-12-04 15:00:00,scattered clouds,-0.92,0.00,1.37
34,Stuttgart,DE,2023-12-04 18:00:00,broken clouds,-0.71,0.05,1.56
35,Stuttgart,DE,2023-12-04 21:00:00,overcast clouds,0.46,0.00,1.98
36,Stuttgart,DE,2023-12-05 00:00:00,light rain,1.68,0.34,2.53
37,Stuttgart,DE,2023-12-05 03:00:00,overcast clouds,3.49,0.20,3.52
38,Stuttgart,DE,2023-12-05 06:00:00,light rain,3.32,0.21,3.52
39,Stuttgart,DE,2023-12-05 09:00:00,scattered clouds,3.43,0.00,3.53
40,Leipzig,DE,2023-12-04 12:00:00,clear sky,-0.47,0.00,2.65
41,Leipzig,DE,2023-12-04 15:00:00,scattered clouds,-0.83,0.00,2.25
42,Leipzig,DE,2023-12-04 18:00:00,broken clouds,-1.65,0.02,2.45
43,Leipzig,DE,2023-12-04 21:00:00,light snow,-2.75,0.20,2.30
44,Leipzig,DE,2023-12-05 00:00:00,overcast clouds,-4.22,0.00,2.61
45,Leipzig,DE,2023-12-05 03:00:00,overcast clouds,-4.47,0.00,2.91
46,Leipzig,DE,2023-12-05 06:00:00,light snow,-2.48,0.69,4.09
47,Leipzig,DE,2023-12-05 09:00:00,light snow,0.42,0.71,4.33

# Final Version with Function

In [9]:
list_of_cities = ['Berlin', 'Frankfurt', 'Munich', 'Cologne', 'Stuttgart', 'Leipzig']

In [10]:
def get_weather_data(list_of_cities):
    
    import pandas as pd
    import requests
    from gans_keys import API_key_open_weather
    
    API_key = API_key_open_weather
    
    weather_data = []

    for city in list_of_cities:
        response = requests.get(f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric")
        city_json = response.json()

        for entry in city_json['list'][:8]:
            weather_data.append({
                "City": city_json['city']['name'],
                "Country": city_json['city']['country'],
                "Date_Time": entry['dt_txt'],
                "Weather": entry["weather"][0]["description"],
                "Temperature": entry['main']['temp'],
                "Risk_of_Rain": entry['pop'],
                "Wind_Speed": entry['wind']['speed']
            })

    weather_df = pd.DataFrame(weather_data)
    return weather_df

In [11]:
weather_df = get_weather_data(list_of_cities)
weather_df.head()

,City,Country,Date_Time,Weather,Temperature,Risk_of_Rain,Wind_Speed
0,Berlin,DE,2023-12-04 12:00:00,clear sky,-1.73,0.0,4.45
1,Berlin,DE,2023-12-04 15:00:00,scattered clouds,-1.61,0.0,4.30
2,Berlin,DE,2023-12-04 18:00:00,broken clouds,-1.32,0.0,4.85
3,Berlin,DE,2023-12-04 21:00:00,overcast clouds,-1.29,0.0,4.69
4,Berlin,DE,2023-12-05 00:00:00,overcast clouds,-2.12,0.0,4.20

In [7]:
def clean_weather_data(weather_df):
    
    import pandas as pd
    from datetime import datetime, timedelta
    weather_df['Date_Time'] = pd.to_datetime(weather_df['Date_Time'])
    
    weather_df['city_id'] = 0
    weather_df.loc[weather_df['City'] == 'Berlin', 'city_id'] = 1
    weather_df.loc[weather_df['City'] == 'Frankfurt am Main', 'city_id'] = 2
    weather_df.loc[weather_df['City'] == 'Munich', 'city_id'] = 3
    weather_df.loc[weather_df['City'] == 'Cologne', 'city_id'] = 4
    weather_df.loc[weather_df['City'] == 'Stuttgart', 'city_id'] = 5
    weather_df.loc[weather_df['City'] == 'Leipzig', 'city_id'] = 6

    return weather_df

In [8]:
weather_df_final = clean_weather_data(weather_df)
weather_df_final.head()

,City,Country,Date_Time,Weather,Temperature,Risk_of_Rain,Wind_Speed,city_id
0,Berlin,DE,2023-12-01 15:00:00,few clouds,-2.22,0.0,0.78,1
1,Berlin,DE,2023-12-01 18:00:00,scattered clouds,-3.97,0.0,1.03,1
2,Berlin,DE,2023-12-01 21:00:00,overcast clouds,-5.43,0.0,1.47,1
3,Berlin,DE,2023-12-02 00:00:00,broken clouds,-6.04,0.0,1.51,1
4,Berlin,DE,2023-12-02 03:00:00,broken clouds,-5.29,0.0,1.41,1

In [9]:
# Alternative way1
#city_to_id = {
    #'Berlin': 1,
    #'Frankfurt': 2,
    #'Munich': 3,
    #'Cologne': 4,
    #'Stuttgart': 5,
    #'Leipzig': 6}

#weather_df['city_id'] = weather_df['City'].map(city_to_id)

# Alternative way2
#weather_df['city_id'] = 0

#for index, city in enumerate(list_of_cities, start=1):
    #weather_df.loc[weather_df['City'] == city, 'city_id'] = index

In [16]:
weather_df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          48 non-null     object
 1   Country       48 non-null     object
 2   Date_Time     48 non-null     datetime64[ns]
 3   Weather       48 non-null     object
 4   Temperature   48 non-null     float64
 5   Risk_of_Rain  48 non-null     float64
 6   Wind_Speed    48 non-null     float64
 7   city_id       48 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 3.1+ KB

# Export the Data to MySQL

In [1]:
import sqlalchemy
from gans_con import con

In [19]:
weather_df_final.to_sql('weathers',
              if_exists='append',
              con=con,
              index=False)

48

# Exporting Data into MySQL on the AWS Cloud server

In [4]:
import sqlalchemy
from gans_con_aws import con

In [6]:
con

'mysql+pymysql://admin:DevWhiz67@wbs-project3-db.cfbporyfz4td.eu-north-1.rds.amazonaws.com:3306/Gans'

In [28]:
weather_df_2 = weather_df_final[weather_df_final['city_id'].isin([1,2])]
weather_df_2

,City,Country,Date_Time,Weather,Temperature,Risk_of_Rain,Wind_Speed,city_id
0,Berlin,DE,2023-12-01 15:00:00,few clouds,-2.22,0.0,0.78,1
1,Berlin,DE,2023-12-01 18:00:00,scattered clouds,-3.97,0.0,1.03,1
2,Berlin,DE,2023-12-01 21:00:00,overcast clouds,-5.43,0.0,1.47,1
3,Berlin,DE,2023-12-02 00:00:00,broken clouds,-6.04,0.0,1.51,1
4,Berlin,DE,2023-12-02 03:00:00,broken clouds,-5.29,0.0,1.41,1
5,Berlin,DE,2023-12-02 06:00:00,broken clouds,-6.14,0.0,0.75,1
6,Berlin,DE,2023-12-02 09:00:00,overcast clouds,-3.81,0.0,1.77,1
7,Berlin,DE,2023-12-02 12:00:00,broken clouds,-1.35,0.0,2.52,1
8,Frankfurt am Main,DE,2023-12-01 15:00:00,broken clouds,1.49,0.0,4.14,2
9,Frankfurt am Main,DE,2023-12-01 18:00:00,overcast clouds,0.34,0.0,3.61,2
10,Frankfurt am Main,DE,2023-12-01 21:00:00,overcast clouds,-1.10,0.0,3.48,2
11,Frankfurt am Main,DE,2023-12-02 00:00:00,overcast clouds,-1.93,0.0,3.51,2
12,Frankfurt am Main,DE,2023-12-02 03:00:00,broken clouds,-3.44,0.0,3.75,2
13,Frankfurt am Main,DE,2023-12-02 06:00:00,broken clouds,-4.18,0.0,3.82,2
14,Frankfurt am Main,DE,2023-12-02 09:00:00,scattered clouds,-3.18,0.0,3.43,2
15,Frankfurt am Main,DE,2023-12-02 12:00:00,scattered clouds,-0.96,0.0,3.04,2

In [29]:
weather_df_2.to_sql('weathers',
              if_exists='append',
              con=con,
              index=False)

16

# Solution Liane

In [ ]:
def get_wea(cities):

    API_key = "5599df53f2bd3f21265255fe62a25816"

    now = datetime.now()

    wea_dict = {"city": [],
                "country": [],
                "forecast_time": [],
                "weather_outlook": [],
                "weather_detailed": [],
                "temperature": [],
                "feels_like_temperature": [],
                "humidity": [],
                "wind_speed": [],
                "risk_of_rain": [],
                "amount_of_rain": [],
                "amount_of_snow": [],
                "info_retrieved_at": []}

    for city in cities:
        url = f"http://api.openweathermap.org/data/2.5/forecast?q={city}&appid={API_key}&units=metric"
        response = requests.get(url)
        wea_resp = response.json()

        for wea in wea_resp["list"]:
            wea_dict["city"].append(wea_resp["city"]["name"])
            wea_dict["country"].append(wea_resp["city"]["country"])
            wea_dict["forecast_time"].append(wea["dt_txt"])
            wea_dict["weather_outlook"].append(wea["weather"][0]["main"])
            wea_dict["weather_detailed"].append(wea["weather"][0]["description"])
            wea_dict["temperature"].append(wea["main"]["temp"])
            wea_dict["feels_like_temperature"].append(wea["main"]["feels_like"])
            wea_dict["humidity"].append(wea["main"]["humidity"])
            wea_dict["wind_speed"].append(wea["wind"]["speed"])
            wea_dict["risk_of_rain"].append(wea["pop"])

            try:
              wea_dict["amount_of_rain"].append(wea["rain"]["3h"])
            except:
              wea_dict["amount_of_rain"].append("0")
            try:
              wea_dict["amount_of_snow"].append(wea["snow"]["3h"])
            except:
              wea_dict["amount_of_snow"].append("0")

            wea_dict["info_retrieved_at"].append(now.strftime("%d/%m/%Y %H:%M:%S"))

    return pd.DataFrame(wea_dict)

In [ ]:
cities = ["Frankfurt", "Berlin", "Cologne", "Munich", "Hamburg"]


get_wea(cities)